<mat-card class="login-page">

  <mat-card-title class="login-title">Login to ChatApp</mat-card-title>

  <mat-card-content>
    <mat-tab-group>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>mail</mat-icon>
        </ng-template>

        <form [formGroup]="form" class="login-form">

          <mat-form-field>

            <input matInput type="email"
                   placeholder="Email"
                   formControlName="email"
                   ngModel
                   name="email"
                   email="true">

          </mat-form-field>

          <mat-form-field>

            <input matInput type="password"
                   placeholder="Password"
                   formControlName="password">

          </mat-form-field>

          <button type="button" mat-raised-button color="primary"
                  (click)="signIn()"
                  [disabled]="!form.valid">Login</button>

          <button type="button" mat-button color="accent" routerLink="/reg">
            Registration
          </button>

        </form>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <img src="assets/icons/google-icon.svg"/>
        </ng-template>
        <button type="button"
                mat-raised-button
                color="primary"
                class="login-methods"
                (click)="googleSignIn()">
          Login with Google
        </button>
      </mat-tab>

      <mat-tab label="GitHub">
        <ng-template mat-tab-label>
          <img src="assets/icons/github-icon.svg" height="30" width="30"/>
        </ng-template>
        Content 3
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>

</mat-card>
