.login-page {
  max-width: 500px;
  /*max-height: 280px;*/
  display: block;
}

.login-form {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px 0;
  font-size: 16px;
}

form {
  margin-top: 20px;
}

.login-title {
  margin: 20px 0;
  color: black;
  font-weight: 400;
  text-align: center;
}

.login-methods {
  margin-top: 30px;
  width: 100%;
}

