<mat-card class="reg-page">
  <mat-card-title>Registration to Chat</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" class="reg-form">

      <mat-form-field>

        <input matInput type="text"
               placeholder="Name"
               formControlName="name">

      </mat-form-field>

      <mat-form-field>

        <input matInput type="email"
               placeholder="Email"
               formControlName="email">

      </mat-form-field>

      <mat-form-field>

        <input matInput type="password"
               placeholder="Password"
               formControlName="password">

      </mat-form-field>

      <button type="button" mat-raised-button color="primary"
              (click)="signUp()"
              [disabled]="!form.valid">Sign Up</button>

      <button type="button" mat-button color="warn" routerLink="/">Back to Login</button>


    </form>
  </mat-card-content>
</mat-card>

